@model MercDevs_ej2.Models.Recepcionequipo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de recepcion</h1>

<div>

    <hr />
    <dl class="row ">
        <dt class = "col-sm-2">
            Fecha:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <hr style="background-color:black"/>
        <dt class = "col-sm-2">
            Tipo de PC
        </dt>
        <dd class = "col-sm-10">
            @{
                string tipopc = "";
                switch (Model.TipoPc)
                {
                    case 0:
                        tipopc = "Pc Torre";
                        break;
                    case 1:
                        tipopc = "Notebook";
                        break;
                    case 2:
                        tipopc = "All in one";
                        break;
                }
                @tipopc
            }
        </dd>
        <hr style="background-color:black" />

        <dt class = "col-sm-2">
           AccesoriosS
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accesorio)
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            Marca de Pc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaPc)
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            modelo de Pc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloPc)
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            N° Serie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nserie)
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            Capacidad de Ram
        </dt>
        <dd class = "col-sm-10">
            @{
                string capacidadram = "";
                switch (Model.CapacidadRam)
                {
                    case 0:
                        capacidadram = "4 GB";
                        break;
                    case 1:
                        capacidadram = "6 GB";
                        break;
                    case 2:
                        capacidadram = "8 GB";
                        break;
                    case 3:
                        capacidadram = "12 GB";
                        break;
                    case 4:
                        capacidadram = "Otra";
                        break;
                }
                @capacidadram
            }
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            Tipo almacenamiento
        </dt>
        <dd class = "col-sm-10">
            @{
                string tipoalmacenamiento = "";
                switch (Model.TipoAlmacenamiento)
                {
                    case 0:
                        tipoalmacenamiento = "HDD";
                        break;
                    case 1:
                        tipoalmacenamiento = "SSD SATA";
                        break;
                    case 2:
                        tipoalmacenamiento = "SSD M.2";
                        break;
                    case 3:
                        tipoalmacenamiento = "SS2 NVM M.2";
                        break;
                }
                @tipoalmacenamiento
            }
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            Cap Almacenamiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadAlmacenamiento)
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            Tipo Gpu
        </dt>
        <dd class = "col-sm-10">
            @{
                string tipogpu = "";
                switch (Model.TipoGpu)
                {
                    case 0:
                        tipogpu = "Chip Integrado";
                        break;
                    case 1:
                        tipogpu = "Tarjeta";
                        break;
                }
                @tipogpu
            }
        </dd>
        <hr style="background-color:black" />


        <dt class = "col-sm-2">
            Graficos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grafico)
        </dd>
        <hr style="background-color:black" />

        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @{
                string estado = "";
                switch (Model.Estado)
                {
                    case "1":
                        estado = "Activo";
                        break;
                    case "0":
                        estado = "Inactivo";
                        break;
                }
                @estado
            }
        </dd>
        <hr style="background-color:black" />

        <dt class = "col-sm-2">
            Id cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <hr style="background-color:black"/>


        <dt class = "col-sm-2">
            Id servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.IdServicio)
        </dd>
        <hr style="background-color:black" />


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn btn-warning">editar</button></a>
    <a asp-action="Index"><button class="btn btn-secondary">volver a listado</button></a>
    <form method="post" asp-action="Finalizar" asp-route-id="@Model?.Id">
        <button type="submit" class="btn btn-info">Finalizar Recepción</button>
    </form>
</div>
